
{{!-- {{> header}} --}}

{{!-- <h4>Goals</h4>
<ul class="list-group">
    {{#each goals}}
        <li class="list-group-item">{{this.text}}</li>
    {{/each}}
</ul> --}}

<header>
    <!-- Background image -->
    <div
    class="p-5 text-center bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 600px;
        margin-top: 8px;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Heading</h1>
                <h4 class="mb-3">Subheading</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
            </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<div class="container">

    <div class="row mt-4">
        {{#each goals}}
            <div class="col-md col-md-4 orange-border">
                <div class="dc-category">{{this.text}}</div>
            </div>
        {{/each}}
    </div>
    <div class="row mt-4">
        <div class="col-md col-md-4"></div>
        <div class="col-md col-md-4 d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-success">More Services</button>
        </div>
        <div class="col-md col-md-4"></div>
    </div>
    <hr>

    <div class="row mt-4">
        <div class="col-md orange-border">
            <div class="dc-how-it-works dc-dark">video</div>
        </div>
        <div class="col-md orange-border">
            <div class="dc-how-it-works">details</div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md orange-border">
            One of three columns
        </div>
        <div class="col-md orange-border">
            One of three columns
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md orange-border">
            One of three columns
        </div>
        <div class="col-md orange-border">
            One of three columns
        </div>
    </div>

</div>

{{!-- {{> footer}} --}}
