
{{!-- {{> header}} --}}

<!-- <h4>Goals</h4>
<ul class="list-group">
    {{#each goals}}
        <li class="list-group-item">{{this.text}}</li>
    {{/each}}
</ul> -->

<header>
    <!-- Background image removed: background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); or background: #0dcaf0; -->
    <div
    class="p-5 text-center bg-image"
    style="background-image: url('./images/unsplash.jpg');
        height: 660px;
        margin-top: 8px;">
        <!-- background-color: rgba(0, 0, 0, 0.6); -->
        <div class="mask" style="background-color: rgba(3, 108, 129, 0.4);">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to DCleans</h1>
                <h4 class="mb-3">We Delider Fast Service With Best Quality Cleaning</h4>
                <!-- <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
                <button type="button" class="btn btn-outline-light btn-lg" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                    Install App
                </button>
            </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>

<div class="container">

    <div class="row mt-4">
        {{#each goals}}
            <div class="col-md col-md-4">
                <div class="dc-category">{{this.text}}</div>
            </div>
        {{/each}}
    </div>
    <div class="row mt-4">
        <div class="col-md col-md-4"></div>
        <div class="col-md col-md-4 d-flex justify-content-center">
            <a href="/services">
                <button type="button" class="btn btn-lg btn-success">More Services</button>
            </a>
        </div>
        <div class="col-md col-md-4"></div>
    </div>
    <div class="row mt-4"></div>
    <hr>

    <!-- how it works -->
    <div class="row">
        <div class="col-md d-flex justify-content-center">
            <div class="">
                <h2>How It Works?</h2>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md">
            <div class="dc-how-it-works dc-xdark">video</div>
        </div>
        <div class="col-md">
            <div class="dc-how-it-works dc-xlight">details</div>
        </div>
    </div>
    <hr>

    <!-- why choose us 1 -->
    <div class="row">
        <div class="col-md d-flex justify-content-center">
            <div class="">
                <h2>Why Choose Us?</h2>
            </div>
        </div>
    </div>

    <!-- why choose us 2 -->
    <div class="row mt-2">
        <div class="col-md">
            <div class="dc-how-it-works dc-dark">video</div>
        </div>
        <div class="col-md">
            <div class="dc-how-it-works dc-light">video</div>
        </div>
    </div>
    <!-- why choose us 2 -->
    <div class="row mt-4">
        <div class="col-md">
            <div class="dc-how-it-works dc-light">video</div>
        </div>
        <div class="col-md">
            <div class="dc-how-it-works dc-dark">video</div>
        </div>
    </div>
    <!-- why choose us 2 -->
    <div class="row mt-4">
        <div class="col-md">
            <div class="dc-how-it-works dc-dark">video</div>
        </div>
        <div class="col-md">
            <div class="dc-how-it-works dc-light">video</div>
        </div>
    </div>
    <!-- why choose us 2 -->
    <div class="row mt-4">
        <div class="col-md">
            <div class="dc-how-it-works dc-light">video</div>
        </div>
        <div class="col-md">
            <div class="dc-how-it-works dc-dark">video</div>
        </div>
    </div>
    
    <!-- register and install app -->
    <div class="row mt-4 mb-8">
        <div class="col-md d-flex justify-content-end">
            <a href="/downloads">
                <button type="button" class="btn btn-lg btn-secondary">Install App</button>
            </a>
        </div>
        <div class="col-md d-flex justify-content-start">
            <a href="/dashboard/register">
                <button type="button" class="btn btn-lg btn-success">Register</button>
            </a>
        </div>
    </div>

</div>

{{!-- {{> footer}} --}}
