
<div class="container">

    <!-- how it works -->
    <div class="row mb-2">
        <div class="col-md">
            <div class="dc-how-it-works dc-light">video</div>
        </div>
    </div>

</div>
