
.orange-border {
    border: 1px solid orange;
}

/* for the home page */
.dc-category {
    background: #ccc;
    margin-top: 16px;
    width: auto;
    height: 160px;
}

/*  */
.dc-how-it-works {
    margin-top: 16px;
    width: auto;
    min-height: 400px;
}
.dc-dark {
    background: #888;
}
.dc-light {
    background: #eee;
}